<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BÜRO MEMUR-SEN AYDIN ŞUBESİ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="büro memur sendikası aydın sendika büromemursen uygulama" name="keywords">
    <meta content="BÜROMEMURSEN AYDIN ŞUBE BAŞKANLIĞI. BÜRO MEMUR SENDİKASI AYDIN ŞUBE BAŞKANLIĞINDAN HABERLER AVANTAJLAR VE ÜYELERE ÖZEL UYGULAMALAR"
          name="description">

    <link rel="apple-touch-icon" href="static/images/logo2.png">
    <link rel="shortcut icon" href="static/images/logo2.png">

    <link href="static/assets2/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="static/assets2/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/assets2/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="static/assets2/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="static/assets2/css/style.css" type="text/css">
    <link rel="stylesheet" href="static/assets3/theme.css" type="text/css">
    <link rel="stylesheet" href="static/assets3/slick.css" type="text/css">
    <link rel="stylesheet" href="static/assets3/jquery.fancybox.css" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js?key=<APP-KEY>&callback=initMap&libraries=&v=weekly"
            defer></script>


    <title>BÜRO MEMUR-SEN AYDIN ŞUBESİ</title>

</head>

<body>
<div class="outer-wrapper" id="modeSwitch">
    <div class="page-wrapper">
        <div class="navigation-off-canvas">
            <h2 style="font-weight: 900;">MENU</h2>
            <ul>
                <li><a href="/">Anasayfa</a>
                </li>
                <li><a href="/hakkimizda">Hakkımızda</a></li>
                <li><a href="/haberler_uyesiz">Haberler</a></li>
                <li><a href="#page-background-white-collapse" id="page-background-white"
                       data-toggle="collapse">İlçelerimiz</a>
                    <ul id="page-background-white-collapse" class="collapse">
                        <li><a href="/bozdogan">Bozdoğan</a></li>
                        <li><a href="/buharkent">Buharkent</a></li>
                        <li><a href="/cine">Çine</a></li>
                        <li><a href="/didim">Didim</a></li>
                        <li><a href="/efeler">Efeler</a></li>
                        <li><a href="/germencik">Germencik</a></li>
                        <li><a href="/incirliova">İncirliova</a></li>
                        <li><a href="/karacasu">Karacasu</a></li>
                        <li><a href="/karpuzlu">Karpuzlu</a></li>
                        <li><a href="/kocarli">Koçarlı</a></li>
                        <li><a href="/kosk">Köşk</a></li>
                        <li><a href="/kusadasi">Kuşadası</a></li>
                        <li><a href="/kuyucak">Kuyucak</a></li>
                        <li><a href="/nazilli">Nazilli</a></li>
                        <li><a href="/soke">Söke</a></li>
                        <li><a href="/sultanhisar">Sultanhisar</a></li>
                        <li><a href="/yenipazar">Yenipazar</a></li>
                        <li><a href="/merkez">Merkez</a></li>
                    </ul>
                </li>
                <li><a href="/iletisim">İletişime Geçin</a></li>
                <li><a href="/login">Üye Girişi</a></li>
                <li><a href="#" id="modeSwitchButton">Modu Değiştir</a></li>
            </ul>
        </div>
        <!--end navigation-off-canvas-->
        <div id="page-header">
            <header>
                <div class="navigation">
                    <div class="left" style="width:100%;">
                        <a href="/" class="brand"><img src="static/images/logo4.png"
                                                       style="max-height:100px;" alt=""></a>
                        <div class="nav-btn">
                            <img src="static/images/menuicon.png" style="max-height:25px;" alt="menu">
                        </div>
                    </div>
                    <!--end left-->
                </div>
                <!--end navigation-->
            </header>
            <!--end header-->
        </div>
        <!--end page-header-->

        <div id="page-content">




            <div class="container" style="max-height:1000px; box-shadow: -10px +10px #d3d3d3; border-top: 2px solid orange; ">

              <section id="sliderSection">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="slick_slider">


                    {% for news in data %}
                      <div class="single_iteam"> <a href="/haberler_uyesiz"> <img src="{{news[3]}}" alt=""></a>
                        <div class="slider_article">
                          <h2><a class="slider_tittle" href="/haberler_uyesiz">{{news[1]}}</a></h2>
                          <p>{{news[1][:40]}}..</p>
                        </div>
                      </div>

                    {% endfor %}
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="latest_post">
                      <h2><span style="background-color: orange">Güncel Haberler</span></h2>
                      <div class="latest_post_container">
                        <div id="prev-button"><i class="fa fa-chevron-up" style="color:orange;"></i></div>
                        <ul class="latest_postnav" style="list-style-type: none;">
                          {% for news in data %}
                          <li>
                            <div class="media"> <a href="/haberler_uyesiz" class="media-left"> <img alt="" src="{{news[3]}}" style="max-height:20px;"> </a>
                              <div class="media-body"> <a href="/haberler_uyesiz" class="catg_title"> {{news[1]}} </a> </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                        <div id="next-button"><i class="fa  fa-chevron-down" style="color:orange;"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>



            </div>
            <!--end hero-section-->




            <div class="block">
                <div class="container">
                    <div class="section-title">
                        <h2>Tüm Haberler</h2>
                    </div>
                    <!--end title-->
                    <div class="gallery">
                        {% for news in data %}


                        {% if (loop.index % 3 == 0) %}
                        <div class="row parallax-wrapper">
                            {% endif %}

                            <div class="col-md-4 col-sm-4">
                                <a href="/haberler_uyesiz" class="gallery-item"
                                   data-scroll-reveal="enter left and move 50px">
                                    <div class="title framed shadow parallax-element" style="background-color: rgba(255, 193, 5, 0.64)">
                                        <div class="name">{{news[1][:20]}}...</div>
                                        <div class="place">Devamı İçin Tıklayın</div>
                                    </div>
                                    <!--end title-->
                                    <div class="arrow arrow_right"></div>
                                    <div class="image">
                                        <img src="{{news[3]}}" alt="" style="max-height:195px;box-shadow: -4px +4px #d3d3d3;">
                                    </div>
                                    <!--end image-->
                                </a>
                                <!--end gallery-item-->
                            </div>
                            <!--end col-md-4-->

                            {% if (loop.index % 3 == 0) %}
                        </div>
                        {% endif %}

                        {% endfor %}

                    </div>
                    <!--end gallery-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->


            <div class="block">
                <div class="container">
                    <div class="section-title">
                        <h2>Yönetim Kurulu</h2>
                    </div>
                    <!--end title-->
                    <div class="featured-blocks">
                        <div class="row">

                            {% for yk in ykdata %}
                            <div class="col-md-4 col-sm-4">
                                <div class="featured-block" data-scroll-reveal="enter bottom and move 50px">
                                    <div class="date framed shadow">
                                        <div class="day"><strong>Y. K.</strong></div>
                                    </div>
                                    <!--end date-->
                                    <div class="description">
                                        <a href="/iletisim">
                                            <h3>{{yk[1]}}</h3>
                                        </a>
                                        <p>{{yk[3]}}
                                        </p>
                                    </div>
                                    <!--end desciption-->
                                </div>
                                <!--end featured-block-->
                            </div>
                            {% endfor %}


                        </div>
                        <!--end row-->
                    </div>
                    <!--end featured-blocks-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->

            <hr>


            <div class="block">
                <div class="container">
                    <div class="logos">
                        <div class="logo">
                            <a href=""><img src="static/assets2/img/logo-1.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href=""><img src="static/assets2/img/logo-2.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href=""><img src="static/assets2/img/logo-3.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href=""><img src="static/assets2/img/logo-4.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href=""><img src="static/assets2/img/logo-5.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                    </div>
                    <!--/ .logos-->
                </div>
            </div>

        </div>
        <!--end page-content-->

        <footer id="page-footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-3">
                            <a href="index.html" class="logo"><img src="static/images/logo4.png" alt=""></a>
                            <div class="separator"></div>
                            <p>Hasanefendi Mahallesi, Batı Gazi Blv. No:13/4, 09100 Efeler/Aydın</p>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <h3>İletişim</h3>
                            <div class="separator"></div>
                            <address>
                                KAAN ÇETİNBAŞ <br>
                                05436578010 / 0549 716 09 00<br>
                                <a href="">aydin{at}buromemursen.org.tr</a>
                                <br>
                                <br>
                            </address>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="map-wrapper">
                                <div id="map" style="height: 200px; width: 175%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
        <!--end page-footer-->

    </div>
    <!--end page-wrapper-->
</div>

<!--end outer-wrapper-->
<script type="text/javascript" src="static/assets2/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="static/assets2/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/assets2/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/assets2/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="static/assets2/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/assets2/js/waypoints.min.js"></script>
<script type="text/javascript" src="static/assets2/js/scrollReveal.min.js"></script>


<script src="static/assets3/slick.min.js"></script>
<script src="static/assets3/jquery.li-scroller.1.0.js"></script>
<script src="static/assets3/jquery.newsTicker.min.js"></script>
<script src="static/assets3/jquery.fancybox.pack.js"></script>
<script src="static/assets3/custom.js"></script>


<script type="text/javascript" src="static/assets2/js/custom.js"></script>

<script type="text/javascript">
    function initMap() {

        // The location of Uluru
        var uluru = {lat: 37.85011, lng: 27.84342};
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 18,
            center: uluru,
        });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });

    }

    var count = 0
    $(document).on('click', '#modeSwitchButton',
        function () {
            count = count + 1
            if (count % 2 == 1) {
                document.querySelector('#modeSwitch').className = "outer-wrapper page-background-black";
            } else {
                document.querySelector('#modeSwitch').className = "outer-wrapper page-background-white";
            }
        });
</script>

<!--[if lte IE 9]>
<script src="static/assets2/js/ie.js"></script>
<![endif]-->
</body>

